@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body, html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  background: white;
  text-align: center;
  font-family: 'Roboto', Helvetica, Arial sans-serif;
}

header {
  margin-top: 40px;
}
